.navbar_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_right_container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.selection {
  border: none;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  font-size: 1em;
}

.line {
  width: 3px;
  aspect-ratio: 1 / 12;
  margin: 0 1rem;
  border-radius: 50px;
  background-color: gray;
}
