.word_sound_container {
  margin-top: 1rem;

  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.word_pronous,
.word {
  grid-column: 1 / 2;
}

.play_sound {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  justify-self: flex-end;

  border: none;
  background-color: rgb(138, 43, 226);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 50px;
  aspect-ratio: 1;
  cursor: pointer;
}

.play_sound:active {
  background-color: rgb(72, 10, 129);
}
